/*

!/.gitignore
!/src
!/Cargo.toml
!/Cargo.lock
!/pyproject.toml
!/python
!/test_httparse.py
!/bench.ipynb
!/requirements-dev.txt
!/requirements-bench.txt
!/.pre-commit-config.yaml
!/Makefile
!/README.md
!/.github
!/LICENSE.txt

__pycache__
*.so